  <md-toolbar class="md-warn" style="height: 0;">
         
          <md-fab-speed-dial  ng-hide="$ctrl.hidden" md-direction="right" md-open="$ctrl.isOpen"
                              class="md-scale fabIcon md-fab-top-left" ng-class="{ 'md-hover-full': $ctrl.hover }"
                              ng-mouseenter="$ctrl.isOpen=true" ng-mouseleave="$ctrl.isOpen=false"  >
            <md-fab-trigger>
              <md-button class="md-fab md-warn" aria-label="Add Question"; style="background-color: orangered;">
                <md-tooltip><span translate="question.question" transalte-values="{name:'{{'question.question'|translate}}'}"></span></md-tooltip>
                <ng-md-icon icon="list"></ng-md-icon>
              </md-button>
            </md-fab-trigger>
            <md-fab-actions>
              <md-button aria-label="Type1" class="md-fab md-raised md-mini" ng-click="$ctrl.addTextTypeQuestion()">
                <ng-md-icon icon="text_fields"></ng-md-icon>
                <md-tooltip md-direction="top"><span translate="question.text"></span></md-tooltip>
              </md-button>
              <md-button aria-label="Type2" class="md-fab md-raised md-mini" ng-click="$ctrl.addMCQTypeQuestion()">

                <ng-md-icon icon="radio_button_checked"></ng-md-icon>
                <md-tooltip md-direction="down"><span translate="question.mcq"></span></md-tooltip>
              </md-button>
              <md-button aria-label="Type3" class="md-fab md-raised md-mini" ng-click="$ctrl.addRangeTypeQuestion()">
                <ng-md-icon icon="format_list_numbered"></ng-md-icon>
                <md-tooltip md-direction="top"><span translate="question.range"></span></md-tooltip>
              </md-button>
              <md-button aria-label="Type5" class="md-fab md-raised md-mini" ng-click="$ctrl.addDropdownTypeQuestion()">

                <ng-md-icon icon="arrow_drop_down_circle"></ng-md-icon>
                <md-tooltip md-direction="down"><span translate="question.dropDown"></span></md-tooltip>
              </md-button>
              <md-button aria-label="Type4" class="md-fab md-raised md-mini" ng-click="$ctrl.addCheckBoxTypeQuestion()">
                <ng-md-icon icon="check_box"></ng-md-icon>
                <md-tooltip md-direction="top"><span translate="question.checkBox"></span></md-tooltip>
              </md-button>
            </md-fab-actions>
          </md-fab-speed-dial>
        <button type="button" class="md-icon-button md-button md-ink-ripple" ng-show="$ctrl.allQuestionsList.length >= 1"  ng-disabled="(createForm.$invalid || createForm.$dirty) && $ctrl.isSaved" ng-click="$ctrl.previewQuestionnaire()" aria-label="Preview"><md-icon md-font-icon="icon-eye" class="md-font material-icons"></md-icon><md-tooltip><span translate="generic.view"></span></md-tooltip></button>
        <button type="button" class="md-icon-button md-button md-ink-ripple" ng-disabled="createForm.$invalid" ng-show="$ctrl.createOrEdit==='edit'" ng-click="$ctrl.deleteQuestionnaire($ctrl.formId)" aria-label="Delete"><md-icon md-font-icon="icon-delete" class="md-font icon-delete material-icons"></md-icon><md-tooltip><span translate="generic.delete"></span></md-tooltip></button>
        <button type="button" class="md-icon-button md-button md-ink-ripple" ng-show="$ctrl.allQuestionsList.length >= 1"  ng-disabled="createForm.$invalid" ng-click="$ctrl.saveDialog()" aria-label="Save"><md-icon md-font-icon="icon-check" class="md-font material-icons"></md-icon><md-tooltip><span translate="generic.save"></span></md-tooltip></button>
        <button type="button" class="md-icon-button md-button md-ink-ripple"  ng-click="$ctrl.createOrEdit=''" aria-label="Close dialog"><md-icon md-font-icon="icon-close" class="ng-scope ng-isolate-scope md-font icon-close material-icons" aria-hidden="true"></md-icon><md-tooltip><span translate="generic.close"></span></md-tooltip></button>

         </md-toolbar >

   

  <md-content  scroll-glue="$ctrl.glued"  flex layout-padding class="content app-detail" style="overflow-x: hidden">



      <form    name="createForm"  class="list-cards md-inline-form" >
<div >
        <div layout="row" layout-wrap   class="row arrange list-cards" style="padding-top: 5%;" id="question_container_{{$index}}"

             ng-repeat="question in $ctrl.allQuestionsList | orderBy : ($ctrl.disableOrder !=undefined ? 'orderNumber' : '')"
             ng-click="$ctrl.turnActive(question)"
             ng-class="{'activated_div' : $ctrl.isSelected(question)}"  >


          <div flex="70" ng-if="question.type=='rating'">
            <div  class="row"  layout-margin="20px">
              <!--<div> <md-button  style="float: right"  class="md-raised" flex="40" md-autofocus ng-show="$ctrl.isSelected(question)">Rating</md-button></div>-->

              <md-input-container  md-no-float class="md-block" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }" >

               <textarea md-maxlength="150" rows="1" md-select-on-focus required name="questionRating_{{$index + 1}}"  autocomplete="off"   ng-model="question.question.text"  placeholder="{{'question.question'|translate}}">
               </textarea>
                <div ng-messages="createForm['questionRating_'+($index + 1)].$error"
                     role="alert">
                  <div ng-message="pattern">
                    <span translate="data.specialWithSpaceChar" translate-values="{field:'{{'question.question'|translate}}'}"></span>
                  </div>

                  <div  ng-message="required" class="help-block">
                    <span translate="data.cannot_null" translate-values="{name:'{{'question.question'|translate}}'}"> </span>
                  </div>
                </div>
              </md-input-container>
              <!--<md-select class="margins" placeholder="{{'question.range'|translate}}" ng-model="question.question.range" >-->
              <!--<md-option ng-value="range.value" ng-repeat="range in $ctrl.ranges">{{range.range}}</md-option>-->
              <!--</md-select>-->
              <md-input-container md-no-float class="md-block adjust-top_r" flex="30">

                <textarea md-maxlength="150" rows="1" md-select-on-focus required  name="label_1_{{$index + 1}}"  autocomplete="off"    ng-model="question.question.label_1"  placeholder="{{'question.label_1'|translate}}">
               </textarea>
                <div  ng-messages="createForm['label_1_'+($index + 1)].$error"
                      role="alert">
                  <div ng-message="pattern">
                    <span translate="data.specialWithSpaceChar" translate-values="{field:'{{'question.label_1'|translate}}'}"></span>
                  </div>
                  <div ng-message="required" class="help-block">
                    <span translate="data.cannot_null" translate-values="{name:'{{'question.label_1'|translate}}'}"> </span>
                  </div>
                </div>
              </md-input-container>
              <md-input-container md-no-float class="md-block adjust-top_r" flex="30">

                <textarea md-maxlength="150" rows="1" md-select-on-focus required name="label_2_{{$index + 1}}"  autocomplete="off"     ng-model="question.question.label_2"  placeholder="{{'question.label_2'|translate}}">
                </textarea>
                <div ng-messages="createForm['label_2_'+($index + 1)].$error"
                     role="alert">
                  <div ng-message="pattern">
                    <span translate="data.specialWithSpaceChar" translate-values="{field:'{{'question.label_2'|translate}}'}"></span>
                  </div>
                  <div ng-message="required">
                    <span translate="data.cannot_null" translate-values="{name:'{{'question.label_2'|translate}}'}"> </span>
                  </div>
                </div>
              </md-input-container>

            </div>
          </div>
          <div ng-if="question.type =='audio'" flex="70">
            <div  layout-margin="20px">
              <md-input-container md-no-float  class="md-block">
               <textarea md-maxlength="150" rows="1" md-select-on-focus ng-model="question.question.text" required name="questionAudio_{{$index + 1}}" placeholder="{{'question.question'|translate}}">
                </textarea>
                <div ng-messages="createForm['questionAudio_'+($index + 1)].$error"
                     role="alert">
                  <div ng-message="pattern">
                    <span translate="data.specialWithSpaceChar" translate-values="{field:'{{'question.question'|translate}}'}"></span>
                  </div>

                  <div  ng-message="required" class="help-block">
                    <span translate="data.cannot_null" translate-values="{name:'{{'question.question'|translate}}'}"> </span>
                  </div>
                </div>
              </md-input-container>
              <md-select style="margin-bottom: 20px;" placeholder="{{'question.prompt'|translate}}" ng-model="question.question.fileName"  >
                <md-option  ng-value="file" ng-repeat="file in $ctrl.files">{{file}}</md-option>
              </md-select>
            </div>
          </div>
          <div ng-if="question.type =='text'" flex="70">
            <div  layout-margin="20px">
              <md-input-container md-no-float  class="md-block">
               <textarea md-maxlength="150" rows="1" md-select-on-focus ng-model="question.question.text" required name="questionText_{{$index + 1}}" placeholder="{{'question.question'|translate}}">
               </textarea>
                <div ng-messages="createForm['questionText_'+($index + 1)].$error"
                     role="alert">
                  <div ng-message="pattern">
                    <span translate="data.specialWithSpaceChar" translate-values="{field:'{{'question.question'|translate}}'}"></span>
                  </div>

                  <div  ng-message="required" class="help-block">
                    <span translate="data.cannot_null" translate-values="{name:'{{'question.question'|translate}}'}"> </span>
                  </div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-xs>
                <label for="" translate="question.answer"></label>
                <input placeholder="{{'question.answerHere'|translate}}" disabled>
              </md-input-container>
            </div>
          </div>

          <div flex="70" ng-if="question.type =='mcq'"   >
            <div layout-margin="20px">
              <md-input-container md-no-float class="md-block" >
                <textarea md-maxlength="150" rows="1" md-select-on-focus ng-model="question.question.text" required name="questionMCQ_{{$index + 1}}" placeholder="{{'question.question'|translate}}">
               </textarea>
                <div ng-messages="createForm['questionMCQ_'+($index + 1)].$error"
                     role="alert">
                  <div ng-message="pattern">
                    <span translate="data.specialWithSpaceChar" translate-values="{field:'{{'question.question'|translate}}'}"></span>
                  </div>

                  <div  ng-message="required" class="help-block">
                    <span translate="data.cannot_null" translate-values="{name:'{{'question.question'|translate}}'}"> </span>
                  </div>
                </div>
              </md-input-container>
              <div ng-repeat="option in question.question.options" class="adjust-top"  >
                <md-input-container md-no-float  flex="40" style="padding-left: 0;">
                  <md-icon md-font-icon="icon-checkbox-blank-circle-outline" class="make-light" aria-label="Option"></md-icon>
                  <textarea   rows="1" md-select-on-focus ng-model="option.optionText" placeholder="{{'question.option'|translate}}">
                </textarea>
                </md-input-container>
               
              <md-button ng-hide="question.question.options.length ===1 " ng-click="$ctrl.removeOption($parent.$index,option)"> <ng-md-icon icon="delete" style="fill: blank"></ng-md-icon></md-button>
               
              </div>
               <md-button style="top: -36px;" ng-click="$ctrl.addMoreOptions($index)" >
                <ng-md-icon icon="add_box"></ng-md-icon>
               </md-button>

            </div>
          </div>
          <div flex="70" ng-if="question.type =='dropDown'"   >
            <div  class="row" layout-margin="20px">
              <md-input-container md-no-float class="md-block" >
               <textarea md-maxlength="150" rows="1" md-select-on-focus ng-model="question.question.text" required name="questionDPD_{{$index + 1}}" placeholder="{{'question.question'|translate}}">
                </textarea>
                <div ng-messages="createForm['questionDPD_'+($index + 1)].$error"
                     role="alert">
                  <div ng-message="pattern">
                    <span translate="data.specialWithSpaceChar" translate-values="{field:'{{'question.question'|translate}}'}"></span>
                  </div>

                  <div  ng-message="required" class="help-block">
                    <span translate="data.cannot_null" translate-values="{name:'{{'question.question'|translate}}'}"> </span>
                  </div>
                </div>
              </md-input-container>
              <div ng-repeat="option in question.question.options" class="adjust-top"  >
                <md-input-container md-no-float  flex="60">
                  <span>{{index}}</span>
                  <textarea md-maxlength="150" rows="1" md-select-on-focus ng-model="option.optionText" placeholder="{{'question.option'|translate}}">
                   </textarea>
                </md-input-container>
               <span>
              <md-button ng-hide="question.question.options.length ===1 " ng-click="$ctrl.removeOption($parent.$index,option)">
			  <ng-md-icon icon="delete" style="fill: blank"></ng-md-icon>
			  </md-button>
               </span>
              </div>
			  <md-button style="top: -36px;" ng-click="$ctrl.addMoreOptions($index)">
			  <ng-md-icon icon="add_box"></ng-md-icon>
			  </md-button>
			  
 
            </div>
          </div>
          <div flex="70" ng-if="question.type =='checkBox'"   >
            <div  class="row" layout-margin="20px">
              <md-input-container md-no-float class="md-block" >
               <textarea md-maxlength="150" rows="1" md-select-on-focus ng-model="question.question.text" required name="questionCBX_{{$index + 1}}" placeholder="{{'question.question'|translate}}">
                </textarea>
                <div ng-messages="createForm['questionCBX_'+($index + 1)].$error"
                     role="alert">
                  <div ng-message="pattern">
                    <span translate="data.specialWithSpaceChar" translate-values="{field:'{{'question.question'|translate}}'}"></span>
                  </div>

                  <div  ng-message="required" class="help-block">
                    <span translate="data.cannot_null" translate-values="{name:'{{'question.question'|translate}}'}"> </span>
                  </div>
                </div>
              </md-input-container>
              <div ng-repeat="option in question.question.options" class="adjust-top"  >
                <md-input-container md-no-float  flex="60">
                  <md-icon md-font-icon="icon-crop-square" class="make-light" aria-label="Option"></md-icon>
                  <textarea md-maxlength="150" rows="1" md-select-on-focus ng-model="option.optionText" placeholder="{{'question.option'|translate}}">
                   </textarea>
                </md-input-container>
               <span>
              <md-button ng-hide="question.question.options.length ===1 " ng-click="$ctrl.removeOption($parent.$index,option)"><ng-md-icon icon="delete" style="fill: blank"></ng-md-icon></md-button>
               </span>
              </div>
			   <md-button style="top: -36px;" ng-click="$ctrl.addMoreOptions($index)">
			   <ng-md-icon icon="add_box"></ng-md-icon>
			   </md-button>
 
            </div>
          </div>
          <div  flex="30" ng-show="$ctrl.isSelected(question)">
            <div style="width: 80%; float: right" class="md-raised" md-autofocus>
              <md-tooltip md-direction="left"><span translate="survey.questionType"></span></md-tooltip>
              <span class="md-title">{{question.type | uppercase}} Question</span>
            </div>
            <!--<span class="md-title questionType">-->
            <!--</span>-->
            <md-button type="button" class="md-icon-button md-button md-ink-ripple pull-right "    ng-click="$ctrl.deleteQuestion(question)" aria-label="Delete"><ng-md-icon icon="delete" style="fill: blank"></ng-md-icon><md-tooltip><span translate="generic.delete"></span></md-tooltip></md-button>

          </div>


        </div>
</div>


      </form>





  </md-content>



  <div class="nothing"></div>




</div>
